@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="phutApp">
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/Phut/CustomStyle")
    @Scripts.Render("~/bundles/Phut/CustomScript")
</head>

<body class="container">
    <br />
    <div ng-view></div>
</body>

</html>